@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');

/* Card Based Layout - Base styles */

body {
	background: hsl(0, 0%, 90%);
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Comfortaa', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
  font-family: 'Patua One', sans-serif;
  letter-spacing: 2px;
}

h2 {
  font-size: 1rem;
  color: #007489;
}

p{
    margin-bottom: 1.5em;
    color: #898989;
}

.card {
	background: white;
    margin-bottom: 2em;	
    border-radius: 10px;
}

.card-img {
    border-radius: 10px 10px 0 0;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 50%);
    border-radius: 10px;
}

.card-content {
	padding: 1.4em;
    color: #898989;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p, ul {
	font-size: 80%;
}

.card-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-content li::before {
    content: "•";
    padding-right: 5px;
}

/* Flexbox stuff */

.cards {
    display: flex;
    flex-wrap: wrap;
 }

.card {
    flex: 1 0 300px;
    box-sizing: border-box;
    margin: 1rem .5em;
}
